html {
  font-family: 'Nunito Sans', sans-serif;
  background-color: hsl(0, 0%, 98%);
}

.container {
  max-width: 1040px;
  margin: 0 auto;
}

header {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
}

.header__div {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.inputs {
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}

input {
  height: 40px;
  padding: 0 200px 0 15px;
  border: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
}

select {
  height: 40px;
}

/* LOAD */
.load{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);
  /*change these sizes to fit into your project*/
  width:100px;
  height:100px;
}
.load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}
.load :first-child{background:#19A68C;animation-delay:-1.5s}
.load :nth-child(2){background:#F63D3A;animation-delay:-1s}
.load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
.load :last-child{background:#193B48}

@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}
/* LOAD FINISHED*/

.countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

/*     CARD      */

.card {
  width: 280px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  margin-bottom: 40px;
}

.card:hover {
  width: 278px;
  cursor: pointer;
  border: 1px solid black;
  margin-bottom: 38px;
}

.card img {
  border-radius: 4px 4px 0 0;
  width: 280px;
  height: 180px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
}

img {
  width: 100%;
}

.detail {
  max-width: 1040px;
  display: flex;
  align-content: center;
  align-items: center;
}

.detail img {
  width: 560px;
  height: 400px;
  object-fit: cover;
}

.infos {
  margin-left: 100px;
}